<div class="container h-100 w-100">
  <diV class="row justify-content-center align-items-center">
    <p class="col text-right font-weight-bold">
      {{page['pageTitle']}}
    </p>
  </diV>
  <div class="row justify-content-center align-items-top">
    <div class="col">
      <div class="row mb-3 ml-1" *ngFor="let q of page['questions']">
        <div [ngSwitch]="q['type']" class="col">
          <div *ngSwitchCase="'rating'" class="row">
            <div class="col">
              <div class="row justify-content-start mb-2" style="font-size:0.95em">
                {{q['title']}}
              </div>
              <app-rating class="row justify-content-center" [question]="q"></app-rating>
            </div>
          </div>
          <div *ngSwitchCase="'comment'" class="row">
            <div class="col">
              <div class="row justify-content-start mb-2" style="font-size:0.95em">
                {{q['title']}}
              </div>
              <div class="row justify-content-center">
                <textarea [(ngModel)]="q['answer']" class="form-control col-md-9" rows="2" placeholder="کادر اعلام نظر"
                  style=" font-size:0.85em"></textarea>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'message'" class="row justify-content-center">
            <div class="col">
              <div class="row justify-content-center text-justify" style="font-size:0.95em">
                {{q['title']}}
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'options'" class="row">
            <div class="col">
              <div class="row justify-content-start mb-2" style="font-size:0.95em">
                {{q['title']}}
              </div>
              <div class="row justify-content-around">
                <div *ngFor="let opt of q['options']; let i = index;" style="font-size:0.85em">
                  <label for="opt_answer_{{i+1}}">
                    <input id="opt_answer_{{i+1}}" value={{i+1}} [value]='i+1' type="radio" name="opt_answer" [(ngModel)]="q['answer']" [checked]="6 == i+1">
                    {{opt}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>