<div class="container h-100 w-100">
  <diV class="row justify-content-center align-items-center">
    <p class="col text-right font-weight-bold">
      {{page['pageTitle']}}
    </p>
  </diV>
  <div class="row justify-content-center align-items-top">
    <div class="col">
      <div class="row mb-3 ml-1" *ngFor="let q of page['questions']">
        <div [ngSwitch]="q['type']" class="col">
          <div class="row justify-content-start" style="font-size:0.95em">
            {{q['title']}}
          </div>
          <div *ngSwitchCase="'rating'" class="row justify-content-end">
            <app-rating [question]="q"></app-rating>
          </div>
          <div *ngSwitchCase="'comment'" class="row justify-content-center">
            <textarea [(ngModel)]="q['answer']" class="form-control col-md-9" rows="2" placeholder="کادر اعلام نظر"
              style=" font-size:0.85em"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>