<div class="container-fluid h-100 w-100">
  <diV class="row justify-content-center align-items-center h-20 w-100">
    <h6>
      به استحضار می رساند به منظور حفظ حقوق، تمامی داده های ورودی مستقیماً به واحد مربوطه انتفال خواهد یافت و قابل رویت
      برای
      واحد های دیگر نمی باشد.
    </h6>
  </diV>
  <div class="row justify-content-right align-items-center h-20 w-100 form-group">
    <label for="nationalCode" class="col-form-label">کد ملی:</label>
    <div class="">
      <input type="text" class="form-control" id="nationalCode" placeholder="لطفاً کد ملی خود را وارد نمایید">
    </div>
  </div>
  <div class="row justify-content-right align-items-center h-20 w-100 form-group">
    <label for="age" class="col-form-label">سن:</label>
    <div class="">
      <input type="number" class="form-control" id="age" placeholder="لطفاً سن خود را وارد نمایید" min="18" max="120">
    </div>
  </div>
  <fieldset class="row justify-content-center align-items-center h-20 w-100 form-group">
    <legend class="col-form-label col-sm-2 pt-0">جنسیت:</legend>
    <div class="col-sm-1">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="genderRadios" id="femaleRadios" value="female">
        <label class="form-check-label" for="femaleRadios">
          زن
        </label>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="genderRadios" id="maleRadios" value="male">
        <label class="form-check-label" for="maleRadios">
          مرد
        </label>
      </div>
    </div>
  </fieldset>

  <div class="row justify-content-center align-items-center h-20 w-100">
    <input type="button" class="survey_prv_btn" value="قبلی">
    <input type="button" class="survey_next_btn" value="بعدی">
  </div>
</div>