<form #identityForm="ngForm">
  <div class="container-fluid h-100 w-100">
    <diV class="row justify-content-center align-items-center h-25">
      <p class="col text-center font-weight-bold">
        به استحضار می رساند به منظور حفظ حقوق، تمامی داده های ورودی مستقیماً به واحد مربوطه انتفال خواهد یافت و قابل
        رویت
        برای
        واحد های دیگر نمی باشد.
      </p>
    </diV>
    <div class="row justify-content-center align-items-center h-50">
      <div class="col">
        <div class="row form-group pr-5 mb-4">
          <label for="nationalCode" class="col-sm-2 col-form-label">کد ملی:</label>
          <div class="col-sm-5">
            <input type="text" [(ngModel)]="nationalCode" class="form-control" id="nationalCode" name="nationalCode"
              placeholder="لطفاً کد ملی خود را وارد نمایید" required  maxlength="10" pattern="^\d{10}$"
              #nationalCodeReference="ngModel">
            <div [hidden]="nationalCodeReference.valid || nationalCodeReference.untouched"
              style="width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">
              کد ملی معتبر نیست!
            </div>
          </div>
        </div>
        <div class="row form-group pr-5 mb-4">
          <label for="age" class="col-sm-2 col-form-label">سن:</label>
          <div class="col-sm-5">
            <input type="number" [(ngModel)]="age" class="form-control" id="age" name="age"
              placeholder="لطفاً سن خود را وارد نمایید" required [min]="15" [max]="80" #ageReference="ngModel">
            <div [hidden]="ageReference.valid || ageReference.untouched"
              style="width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">
              سن معتبر نیست!
            </div>
          </div>
        </div>
        <fieldset class="form-group pr-5 mb-4">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">جنسیت:</legend>
            <div class="col-sm-1">
              <div class="form-check">
                <input type="radio" [(ngModel)]="gender" class="form-check-input" name="gender" id="femaleRadios"
                  value="female" required #genderReference="ngModel">
                <label class="form-check-label" for="femaleRadios">
                  زن
                </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-check">
                <input type="radio" [(ngModel)]="gender" class="form-check-input" name="gender" id="maleRadios"
                  value="male" required>
                <label class="form-check-label" for="maleRadios">
                  مرد
                </label>
              </div>
            </div>
            <div class="col-sm-3" [hidden]="genderReference.valid || genderReference.untouched"
              style="width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">
              جنسیت معتبر نیست!
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row justify-content-between align-items-center h-25">
      <input type="button" routerLink="/Initial" class="survey_prv_btn" value="قبلی">
      <input type="button" class="survey_next_btn" value="بعدی" (click)="onSubmit(identityForm.form.valid)"
        [disabled]="!identityForm.form.valid">
    </div>
  </div>
</form>