<form #selectionForm="ngForm" class="h-100 w-100">
  <div class="container-fluid h-100 w-100">
    <diV class="row justify-content-center align-items-center h-25">
      <p class="col text-center font-weight-bold">
        لطفاً برای ادامه یکی از گزینه های ذیل را انتخاب نمائید:
      </p>
    </diV>
    <div class="row justify-content-center align-items-center h-50">
      <div class="col">
        <div class="row pr-5 mb-4">
          <div class="form-check col">
            <input type="radio" [(ngModel)]="selectedSurveyType" class="form-check-input" name="surveyType"
              id="surveyType1" value="DirectComment" [checked]="selectedSurveyType === 'DirectComment'"
              (change)="onSurveyTypeChanged('DirectComment')" required #selectionReference="ngModel" [attr.disabled]="isDirectCommentDisabled">
            <label class="form-check-label" for="surveyType1">
              ارسال نظر مستقیم به واحد مورد نظر
            </label>
          </div>
          <div class="form-check col">
            <input type="radio" [(ngModel)]="selectedSurveyType" class="form-check-input" name="surveyType"
              id="surveyType2" value="ProfessorsResidence" [checked]="selectedSurveyType === 'ProfessorsResidence'"
              (change)="onSurveyTypeChanged('ProfessorsResidence')" required [attr.disabled]="isProfessorsResidenceDisabled">
            <label class="form-check-label" for="surveyType2">
              نظرسنجی استادسراهای پردیس
            </label>
          </div>
        </div>
        <div class="row pr-5 mb-4">
          <div class="form-check col">
            <input type="radio" [(ngModel)]="selectedSurveyType" class="form-check-input" name="surveyType"
              id="surveyType3" value="StudentsResidence" [checked]="selectedSurveyType === 'StudentsResidence'"
              (change)="onSurveyTypeChanged('StudentsResidence')" required [attr.disabled]="isStudentsResidenceDisabled">
            <label class="form-check-label" for="surveyType3">
              نظرسنجی خوابگاه های دانشجویی
            </label>
          </div>
          <div class="form-check col">
            <input type="radio" [(ngModel)]="selectedSurveyType" class="form-check-input" name="surveyType"
              id="surveyType4" value="Resturant" [checked]="selectedSurveyType === 'CateringFacilities'"
              (change)="onSurveyTypeChanged('CateringFacilities')" required [attr.disabled]="isCateringFacilitiesDisabled">
            <label class="form-check-label" for="surveyType4">
              نظرسنجی رستوران و کافی شاپ پردیس
            </label>
          </div>
        </div>
        <div class="row pr-5 mb-4">
          <div class="form-check col-sm-6">
            <input type="radio" [(ngModel)]="selectedSurveyType" class="form-check-input" name="surveyType"
              id="surveyType5" value="EducationalFacilities" [checked]="selectedSurveyType === 'EducationalFacilities'"
              (change)="onSurveyTypeChanged('EducationalFacilities')" required [attr.disabled]="isEducationalFacilitiesDisabled">
            <label class="form-check-label" for="surveyType5">
              نظرسنجی فضای آموزشی پردیس
            </label>
          </div>
          <div class="col-sm-3" [hidden]="selectionReference.valid || selectionReference.untouched"
            style="width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">
            انتخاب معتبر نیست!
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-center h-25">
      <input type="button" routerLink="/Relation" class="survey_prv_btn" value="قبلی">
      <input type="button" class="survey_next_btn" value="بعدی" (click)="onSubmit(selectionForm.form.valid)"
        [disabled]="!selectionForm.form.valid">
      <!--<input type="button" routerLink="{{nextPageLink}}" class="survey_next_btn" value="بعدی">-->
    </div>
  </div>
</form>