h2 {
    font-weight: bold;
    /*font-size: 17px !important;*/
    height: 57px;
    background-image: url("../../assets/img/divider.png");
    background-repeat: no-repeat;
    background-position: top;
}

.StartButton{
    background-color: transparent !important;
    color: #316ba5 !important;
    border: none;
    height: 110px;
    width: 285px;
    background-image: url('../../assets/img/start.png');
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    font-family: IRANSans;
}