<div class="survey-header"></div>
<div class="survey-main">
    <div class="survey-gallery container-fluid">
        <div class="row justify-content-center h-100 w-100">
            <img #imageElement class="col align-self-center" border="0" width="312" height="462">
        </div>
    </div>
    <div class="survey-container text-right">
        <!-- style="overflow-y: scroll;" -->
        <div class="container-fluid h-100">
            <router-outlet></router-outlet>

        </div>
    </div>
    <div class="survey-footer">
        <div class="survey-copyright">
            کلیه حقوق متعلق به دانشگاه تهران می باشد
        </div>
    </div>
</div>

<!-- Modal -->
<div #myModal id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content text-right" dir="rtl">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">توجه!</h4>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>