<button type="button" class="btn btn-outline-secondary btn-sm mr-1" value="5" [ngClass]="color5" (click)="onRateSelect($event)">خیلی خوب</button>
<button type="button" class="btn btn-outline-secondary btn-sm mr-1" value="4" [ngClass]="color4" (click)="onRateSelect($event)">خوب</button>
<button type="button" class="btn btn-outline-secondary btn-sm mr-1" value="3" [ngClass]="color3" (click)="onRateSelect($event)">متوسط</button>
<button type="button" class="btn btn-outline-secondary btn-sm mr-1" value="2" [ngClass]="color2" (click)="onRateSelect($event)">ضعیف</button>
<button type="button" class="btn btn-outline-secondary btn-sm mr-1" value="1" [ngClass]="color1" (click)="onRateSelect($event)">خیلی ضعیف</button>