@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('assets/font/IranSansZ.eot');
	src: url('assets/font/IranSansZ.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('assets/font/IranSansZ.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/font/IranSansZ.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('assets/font/IranSansZ.ttf') format('truetype');
}

body {
	background-image: url("assets/img/main-bg.jpg");
	background-size: cover; 
	font-family: IRANSans;
	color: rgb(109, 112, 114);

}
.survey-header {
	padding-bottom: 50px;
	width: 1192px;
	height: 133px;
	margin: auto auto;
	background-image: url("assets/img/head.png");
	background-repeat: repeat-x;
	background-position: bottom;
}
.survey-main {
	width: 1191px;
	margin: auto;
}
.survey-container {
    background: #fafafa;
    width: 821px;
    float: left;
    padding: 0 10px 0 40px;
    height: 555px;
}
.survey-gallery {
	background: #fafafa;
	width: 370px;
	float: right;
	height: 555px;
	text-align: center;
	padding: 35px 0 0 0;
}
.survey-footer {
	clear: both;
	width: 1193px;
	height: 66px;
	background-image: url("assets/img/footer.png");
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 10px;
	margin: auto auto;
}
.survey-copyright {
	font-size: 12px !important;
	text-align: left;
	color: #ffffff;
	padding: 8px 0px 0 25px;
}
.form-check-label {
	margin-left: 0;
	margin-right: 20px;
}
.survey_prv_btn{
	background-color: transparent !important;
	color: #316ba5 !important;
	border: none;
	height: 53px;
	width: 139px;
	background-image: url('assets/img/nxt.png');
	background-repeat: no-repeat;
	text-align: center;
}
.survey_next_btn{
	background-color: transparent !important;
	color: #316ba5;
	border: none;
	height: 53px;
	width: 139px;
	background-image: url('assets/img/prv.png');
	background-repeat: no-repeat;
	text-align: center;
}
input[type="button"]:disabled{
    background-image: url('assets/img/prv-disabled.png');
    color: #666666;
}

/*
body {
	background-image: url("assets/img/main-bg.jpg");
	background-size: cover; 
	font-family: IRANSans;
	color: rgb(109, 112, 114);
}
.survey-header {
	height: 133px;
	background-image: url("assets/img/head.png");
	background-repeat: no-repeat;
	background-position: bottom;
}
.survey-footer {
	height: 66px;
	background-image: url("assets/img/footer.png");
	background-repeat: no-repeat;
	background-position: top;
}
.survey-copyright {
	font-size: 12px !important;
	text-align: left;
	color: #ffffff;
	padding: 8px 0px 0 25px;
}
*/